<div class="col-sm-7">
  <% @activities.each do |activity| %>
    <% if activity.key == "event.create" %>
      <%= render partial: "public_activity/event/create", locals: {activity: activity} %>
    <% elsif activity.key == "event.update" %>
      <%= render partial: "public_activity/event/update", locals: {activity: activity} %>
    <% elsif activity.key == "event.destroy" %>
      <%= render partial: "public_activity/event/destroy", locals: {activity: activity} %>
    <% end %>
  <% end %>
  <div class="paginator pagination-activities">
    <%= paginate @activities, param_name: :activities %>
  </div>
</div>
