RAILS_MAX_THREADS: 6
RAILS_MIN_THREADS: 1
WEB_CONCURRENCY: 2
PORT: 3000
FACEBOOK_KEY: ""
FACEBOOK_SECRET: ""
GOOGLE_KEY: ""
GOOGLE_SECRET: ""

development:
  RAILS_ENV: development

production:
  RAILS_ENV: production
