@import 'color';

$font-0: Arial;
$font-1: sans-serif;

html,
body {
  background-color: $white;
  display: block;
  font: small/normal Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: relative;
}

img {
  border: 1px solid $gray;
  border-radius: 2px;
}

p {
  margin: 0 0 10px;
}

a {
  color: $color-mine-shaft-approx;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $st-tropaz-color;
    text-decoration: none;
  }

  &:active {
    outline: 0;
  }
}

ul {
  list-style: none;
}

::-webkit-input-placeholder {
  color: $dusty-gray-color;
}

placeholder { // Firefox 18-
  color: $dusty-gray-color;
}

:-ms-input-placeholder {
  color: $dusty-gray-color;
}

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;

  input {
    height: 13px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: -1px;
    vertical-align: bottom;
    width: 13px;
  }
}

.input-group {
  display: table;

  input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: table-cell;
  }

  span {
    display: table-cell;

    &.input-group-btn {
      background-color: $gallery-color;
      border: 1px solid $color-celeste-approx;
      border-radius: 2px;
      color: $emperor-color;
      font-weight: 400;
      line-height: 1;
      text-align: center;
      vertical-align: middle;

      &:last-child {
        border-bottom-left-radius: 0;
        border-left: 0;
        border-top-left-radius: 0;
      }
    }

    button {
      -webkit-appearance: button;
    }
  }
}

.button {
  border: 0;
  color: $white;
  padding: 7px 12px;
}

.gray {
  background-color: $gray;
}

.yellow {
  background-color: $yellow;
}

.blue {
  background-color: $blue;
}

.green {
  background-color: $green;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.red-text {
  color: $red;
}

.yellow-text {
  color: $yellow;
}

.blue-text {
  color: $blue;
}

.green-text {
  color: $green;
}

.gray-text {
  color: $gray;
}

.right {
  float: right;
}

.left {
  float: left;
}

.alert {
  border: 1px solid transparent;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 6px 12px;

  h4 {
    color: inherit;
    margin-top: 0;
  }

  .alert-link {
    font-weight: bold;
  }

  > p + p {
    margin-top: 5px;
  }
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  color: inherit;
  position: relative;
  right: -21px;
  top: -2px;
}

.alert-success {
  background-color: $peppermint-color;
  border-color: $beryl-green-color;
  color: $killarney-color;

  hr {
    border-top-color: $beryl-green-color;
  }

  .alert-link {
    color: $killarney-color;
  }
}

.alert-info {
  background-color: $link-water-color;
  border-color: $mint-tulip-color;
  color: $calypso-color;

  hr {
    border-top-color: $blizzard-blue-color;
  }

  .alert-link {
    color: $cello-color;
  }
}

.alert-warning {
  background-color: $pearl-lusta-color;
  border-color: $champagne-color;
  color: $potters-clay-color;

  hr {
    border-top-color: $givry-color;
  }

  .alert-link {
    color: $shingle-fawn-color;
  }
}

.alert-danger {
  background-color: $bizarre-color;
  border-color: $oyster-pink-color;
  color: $apple-blossom-color;

  hr {
    border-top-color: $cavern-pink-color;
  }

  .alert-link {
    color: $sanguine-brown-color;
  }
}

.table {
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
}

.round-table {
  border: solid 1px $color-swans-down-approx;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px $font-0, $font-1;

  thead th {
    background-color: $color-swans-down-approx;
    border: solid 1px $color-swans-down-approx;
    color: $color-william-approx;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px $white;
  }

  tbody td {
    border: solid 1px $color-swans-down-approx;
    color: $color-mine-shaft-approx;
    padding: 10px;
    text-shadow: 1px 1px 1px $white;
  }
}

.round-table-rounded {
  border: 0;

  tbody {
    td {
      background-color: $color-chalky-approx;
      border: 0;
      border-top: solid 1px $color-kumera-approx;
    }
  }

  thead th {
    background-color: $color-laser-approx;
    border: 0;
    color: $color-mine-shaft-approx;
    text-shadow: 1px 1px 1px $color-celeste-approx;
  }
}
