$abbey-color: #46484a;
$black: #000;
$black-10: rgba(0, 0, 0, .1);
$black-19: rgba(0, 0, 0, .19);
$black-20: rgba(0, 0, 0, .2);
$black-30: rgba(0, 0, 0, .3);
$black-40: rgba(0, 0, 0, .4);
$black-50: rgba(0, 0, 0, .5);
$blue: #4285f4;
$color-celeste-approx: #ccc;
$color-chalky-approx: #ffffe0;
$color-kumera-approx: #957030;
$color-laser-approx: #b0e0e6;
$color-mine-shaft-approx: #333;
$color-swans-down-approx: #dee;
$color-william-approx: #336b6b;
$dusty-gray-color: #999;
$gallery-color: #efeded;
$gray: #bfbaba;
$green: #34a853;
$red: #ea4335;
$session-white: #fefefe;
$session-grey: #888;
$silver-chalice-color: #aaa;
$white: #fff;
$white-gray: #ddd;
$yellow: #fbbc05;
