$abbey-color: #46484a;
$alabaster-color: #f8f8f8;
$alto-color: #d3d3d3;
$alto: #d9d9d9;
$apple-blossom-color: #a94442;
$aqua-haze-color: #eff3f6;
$aqua-haze: #f6f8fa;
$athens-gray-color: #e1e4e8;
$bay-of-many-approx: #204d74;
$beryl-green-color: #d6e9c6;
$bizarre-color: #f2dede;
$black: #000;
$black-10: rgba(0, 0, 0, .1);
$black-19: rgba(0, 0, 0, .19);
$black-17: rgba(0, 0, 0, .175);
$black-20: rgba(0, 0, 0, .2);
$black-30: rgba(0, 0, 0, .3);
$black-40: rgba(0, 0, 0, .4);
$black-50: rgba(0, 0, 0, .5);
$blizzard-blue-color: #a6e1ec;
$blue: #4285f4;
$boulder-color: rgba(123, 123, 123, 0.15);
$boston-blue-color: #428BCA;
$calypso-color: #31708f;
$cavern-pink-color: #e4b9c0;
$cello-color: #245269;
$chambray-color: #3b5998;
$champagne-color: #faebcc;
$cod-gray-color: #1b1b1b;
$cognac-color: #992A1B;
$color-celeste-approx: #ccc;
$color-chalky-approx: #ffffe0;
$color-kumera-approx: #957030;
$color-laser-approx: #b0e0e6;
$color-mine-shaft-approx: #333;
$color-swans-down-approx: #dee;
$color-william-approx: #336b6b;
$cornflower-blue-color: #4787ed;
$dodger-blue: #4d90fe;
$dusty-gray-approx: #9b9b9b;
$dusty-gray-color: #999;
$emerald-color: #34d058;
$emperor-approx: #555;
$emperor-color: #555;
$eucalyptus-color: #28a745;
$fruit-salad-color: #4caf50;
$gallery-color: #efeded;
$gallery: #ebebeb;
$givry-color: #f7e1b5;
$gray: #bfbaba;
$green: #34a853;
$killarney-color: #3c763d;
$link-water-color: #d9edf7;
$mercury-color: #e6e6e6;
$mercury: #e6e6e6;
$mercury-solid: #e5e5e5;
$mine-shaft-color: #2f2f2f;
$mint-tulip-color: #bce8f1;
$nero-black: #222;
$nobel-color: #b5b5b5;
$oyster-pink-color: #ebccd1;
$pearl-lusta-color: #fcf8e3;
$peppermint-color: #dff0d8;
$picton-blue-color: #4790E3;
$potters-clay-color: #8a6d3b;
$red: #ea4335;
$red-color: #f00;
$roof-terracotta-color: #AF301F;
$royal-blue-color: #3079ed;
$sanguine-brown-color: #843534;
$science-blue-color: #0366d6;
$sea-shell-solid: #f1f1f1;
$session-white: #fefefe;
$session-grey: #888;
$shark-color: rgba(27, 31, 35, .15);
$shingle-fawn-color: #66512c;
$silver: #c0c0c0;
$silver-chalice-approx: #adadad;
$silver-chalice-color: #aaa;
$silver-color: #bbb;
$st-tropaz-approx: #286090;
$st-tropaz-color: #2A6496;
$tall-poppy-color: #C53727;
$thunderbird-color: #B0281A;
$tundora-color: #444;
$white: #fff;
$white-gray: #ddd;
$wild-sand-approx: #f5f5f5;
$wild-sand-color: #f5f5f5;
$yellow: #fbbc05;
$gallery-color: #eee;
