$abbey-color: #46484a;
$alabaster-color: #f8f8f8;
$alto-color: #d3d3d3;
$alto: #d9d9d9;
$aqua-haze-color: #eff3f6;
$aqua-haze: #f6f8fa;
$athens-gray-color: #e1e4e8;
$bay-of-many-approx: #204d74;
$black: #000;
$black-10: rgba(0, 0, 0, .1);
$black-19: rgba(0, 0, 0, .19);
$black-17: rgba(0, 0, 0, .175);
$black-20: rgba(0, 0, 0, .2);
$black-30: rgba(0, 0, 0, .3);
$black-40: rgba(0, 0, 0, .4);
$black-50: rgba(0, 0, 0, .5);
$blue: #4285f4;
$chambray-color: #3b5998;
$color-celeste-approx: #ccc;
$color-chalky-approx: #ffffe0;
$color-kumera-approx: #957030;
$color-laser-approx: #b0e0e6;
$color-mine-shaft-approx: #333;
$color-swans-down-approx: #dee;
$color-william-approx: #336b6b;
$dodger-blue: #4d90fe;
$dusty-gray-approx: #9b9b9b;
$dusty-gray-color: #999;
$emerald-color: #34d058;
$eucalyptus-color: #28a745;
$emperor-approx: #555;
$gallery-color: #efeded;
$gallery: #ebebeb;
$gray: #bfbaba;
$green: #34a853;
$mercury-color: #e6e6e6;
$mine-shaft-color: #2f2f2f;
$nobel-color: #b5b5b5;
$red: #ea4335;
$science-blue-color: #0366D6;
$session-white: #fefefe;
$session-grey: #888;
$shark-color: rgba(27, 31, 35, .15);
$silver: #c0c0c0;
$silver-chalice-color: #aaa;
$silver-color: #bbb;
$mercury: #e6e6e6;
$mercury-solid: #e5e5e5;
$nero-black: #222;
$red: #ea4335;
$sea-shell-solid: #f1f1f1;
$session-white: #fefefe;
$session-grey: #888;
$silver-chalice-approx: #adadad;
$silver-chalice-color: #aaa;
$st-tropaz-approx: #286090;
$white: #fff;
$white-gray: #ddd;
$wild-sand-approx: #f5f5f5;
$yellow: #fbbc05;
$emerald-color: #34d058;
$eucalyptus-color: #28a745;
$st-tropaz-color: #2A6496;
$gallery-color: #EEE;
$emperor-color: #555;
$peppermint-color: #DFF0D8;
$beryl-green-color: #D6E9C6;
$killarney-color: #3C763D;
$beryl-green-color: #C9E2B3;
$killarney-color: #2B542C;
$link-water-color: #D9EDF7;
$mint-tulip-color: #BCE8F1;
$calypso-color: #31708F;
$blizzard-blue-color: #A6E1EC;
$cello-color: #245269;
$pearl-lusta-color: #FCF8E3;
$champagne-color: #FAEBCC;
$potters-clay-color: #8A6D3B;
$givry-color: #F7E1B5;
$shingle-fawn-color: #66512C;
$bizarre-color: #F2DEDE;
$oyster-pink-color: #EBCCD1;
$apple-blossom-color: #A94442;
$cavern-pink-color: #E4B9C0;
$sanguine-brown-color: #843534;
$color-mine-shaft-approx: #333;
