@import 'color';

::-webkit-scrollbar {
  height: 12px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $black-10;
}

::-webkit-scrollbar-thumb {
  background: $black-20;
}

.header {
  background-color: $gallery-color;
  color: $blue;
  height: 44px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  ul {
    margin: 0;
    overflow: hidden;
    padding: 7px 0;

    li {
      display: table;
      float: right;
      font-size: 14px;
      list-style-type: none;
      padding-right: 15px;

      a {
        color: $black;
        display: block;

        &.avatar {
          display: block;
          font-weight: 600;
          line-height: 20px;
        }

        .img-circle {
          background-color: $white;
          border-radius: 2px;
          display: inline-block;
          height: 30px;
          line-height: 1;
          overflow: hidden;
          width: 30px;

          &:active {
            box-shadow: inset 0 30px 0 $boulder-color;
          }
        }

        &.header-nav-item {
          display: block;
          font-weight: 600;
          height: 30px;
          line-height: 20px;
        }

        &.header-item-link {
          font-weight: 500;
          padding-top: 5px;
        }

        .fa-1-5 {
          font-size: 1.15em;
        }

        .dropdown-caret {
          border: 4px solid;
          border-bottom-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent;
          content: '';
          display: inline-block;
          height: 0;
          vertical-align: middle;
          width: 0;
        }
      }

      &.create-new-object {
        cursor: pointer;

        > .header-nav-item {
          padding: 5px 8px;
        }
      }
    }

    .sub-menu {
      background: $white;
      border: 1px solid $black-20;
      box-shadow: 0 2px 4px $black-20;
      cursor: default;
      padding-bottom: 5px;
      padding-top: 5px;
      position: fixed;
      text-align: left;
      transition: opacity .218s;
      width: 180px;
      z-index: 1000;

      div.dropdown-header {
        padding: 5px 15px;
        white-space: normal;
      }

      .header-nav-current-user {
        font-size: inherit;
        padding-bottom: 0;

        .css-truncate-target {
          max-width: 100%;
        }
      }

      div.sub-setting {
        color: $boston-blue-color;
        cursor: pointer;
        padding: 5px 15px;
        text-align: left;
        text-decoration: none;

        &:hover {
          background-color: $mercury-color;
        }
      }

      div.line {
        background: $gallery-color;
        display: block;
        height: 1px;
      }
    }

    .sub-menu-visible {
      display: block;
    }

    .sub-menu-hidden {
      display: none;
    }
  }

  .logo {
    border-right: 0;
    display: table;
    float: left;
    font-size: 28px;
    height: 44px;
    width: 250px;

    span {
      display: table-cell;
      padding-left: 15px;
      vertical-align: middle;

      a {
        color: $blue;
        font-weight: bold;
        line-height: 30px;
        text-decoration: none;
        transition: all .5s;

        &:hover {
          color: $fruit-salad-color;
        }
      }
    }
  }
}

.main-content {
  padding-top: 44px;

  > section {
    margin: 0 15px;
  }
}

.field {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.btn {
  background-image: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  line-height: 1.4em;
  margin-bottom: 10px;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;

  &:focus {
    outline: -webkit-focus-ring-color auto 3px;
    outline-offset: -2px;
  }
}

.btn-save {
  background: $red;
  border: 1px solid $black-10;
  color: $white;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  height: 29px;
  margin-bottom: 0;
  min-width: 80px;
  outline: none;
  padding: 5px 12px;
  text-align: center;
  text-shadow: 0 1px $black-10;

  &:hover {
    background: $tall-poppy-color;
    border: 1px solid $thunderbird-color;
    border-bottom: 1px solid $roof-terracotta-color;
    box-shadow: 0 1px 1px $black-20;
    color: $white;
  }

  &:active {
    background-color: $thunderbird-color;
    border: 1px solid $cognac-color;
    box-shadow: inset 0 1px 2px $black-30;
  }

  &:focus {
    outline: none;
  }
}

.btn-discard {
  background: $gallery-color;
  border: 1px solid $black-10;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  height: 29px;
  margin-bottom: 0;
  min-width: 54px;
  outline: none;
  padding: 5px 12px;
  text-align: center;
  transition: all .218s;
  user-select: none;

  &:hover {
    background: $alabaster-color;
    border: 1px solid $silver-color;
    box-shadow: 0 1px 1px $black-10;
    transition: all 0s;
    z-index: 80;
  }

  &:active {
    background: $wild-sand-color;
    box-shadow: inset 0 1px 2px $black-10;
  }
}

.btn-go-back {
  background: $gallery-color;
  border: 1px solid $black-10;
  color: $tundora-color;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  height: 29px;
  margin-bottom: 0;
  margin-right: 0;
  min-width: 54px;
  outline: none;
  padding: 8px 12px;
  text-align: center;
  transition: all .218s;
  user-select: none;

  &:hover {
    background: $alabaster-color;
    border: 1px solid $silver-color;
    box-shadow: 0 1px 1px $black-10;
    color: $mine-shaft-color;
    transition: all 0s;
    z-index: 80;
  }

  &:active {
    background: $wild-sand-color;
    box-shadow: inset 0 1px 2px $black-10;
  }

  i {
    background: url(image_path('combined_v46_vr.png')) -106px -77px no-repeat;
    display: inline-block;
    height: 15px;
    opacity: .65;
    vertical-align: middle;
    width: 15px;
  }
}

.form-control {
  border-radius: 2px;
  height: 32px;
}

input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.form-border-bottom {
  border: 0;
  border-bottom: 2px solid $picton-blue-color;
  padding: 10px;
  width: 100%;
}

.col-30 {
  width: 30%;
}

.center {
  text-align: center;
}

// Jquery UI Calendar UI Custom
#ui-datepicker-div {
  border-radius: 0;
}

.flash-message {
  margin: 10px;
}

.select2-container {

  &:focus {
    border-color: $cornflower-blue-color;
    box-shadow: inset 0 1px 1px $black, 0 0 8px $cornflower-blue-color;
    outline: -webkit-focus-ring-color auto 3px;
    outline-offset: -2px;
  }
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid $color-celeste-approx;
  border-radius: 2px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection--choice {
  border-radius: 2px;
}

.signin-error-message,
.signup-error-message {
  color: $red;
  font-size: 14px;
}

.search-error-message {
  color: $red;
  font-size: 14px;
  padding-bottom: 5px;
}

.dropdown-divider {
  background-color: $athens-gray-color;
  height: 1px;
  margin: 8px 1px;
}

.css-truncate.css-truncate-target,
.css-truncate .css-truncate-target {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}

.form-action {
  border-bottom: 1px solid $gallery-color;
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;

  .btn {
    height: 30px;
    margin-bottom: 0;
  }
}

.modal-content {
  border-radius: 2px;
}

.modal {
  top: 44px;
}

/*Validate name*/
.auto-validate-name.error {
  background-image: url(image-path('error-validate.png'));
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.auto-validate-name.success {
  background-image: url(image-path('success-validate.png'));
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.auto-validate-name.loading {
  background-image: url(image-path('loading-validate.gif'));
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.error_validate_mes::before, .error_validate_mes::after{
  bottom: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  left: 10px;
  width: 0;
}

.error_validate_mes::before{
  border-bottom-color: $eunry;
  border-width: 6px;
  margin-left: -1px;
}

.error_validate_mes::after{
  border-bottom-color: $osmos;
  border-width: 5px;
}

.error_validate_mes {
  background-color: $osmos;
  border-style: solid;
  border-color: $eunry;
  border-width: 1px;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 4px 8px 0 $black-20, 0 6px 20px 0 $black-19;
  color: $falu-red;
  display: none;
  font-size: 13px;
  line-height: 21px;
  margin-top: 4px;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 8px;
  position: absolute;
  z-index: 10;
}
