@import 'color';

.invitations {
  nav {
    padding: 0 15px;
  }

  tab-content {
    padding: 15px;
  }

  tabs {
    margin-left: -15px;
    margin-right: -15px;
  }

  .tbl-object {
    display: table;
    padding: 15px 0;

    .tbl-item {
      display: table-cell;
      vertical-align: middle;
    }

    .org-name {
      color: $color-mine-shaft-approx;
      font-weight: normal;
    }

    .btn-edit-organization {
      float: left;
      font-size: 1.5em;
    }

    .tbl-item-primary {
      padding-left: 20px;
      white-space: normal;
      width: 99%;
    }

    .avatar {
      border-radius: 3px;
      display: block;
      height: 100px;
      line-height: 1;
      overflow: hidden;
      vertical-align: middle;
      width: 100px;
    }
  }
}

.organization-form {
  .upload-image {
    height: 144px;
    margin-top: 10px;
    width: 144px;

    &:hover .btn-file {
      display: block;
    }

    .img-thumbnail {
      height: 144px;
      position: absolute;
      width: 144px;
    }

    .btn-file {
      background-color: $abbey-color;
      border: 0;
      border-radius: 4px;
      display: none;
      font-size: 45px;
      height: 144px;
      line-height: 137px;
      opacity: .8;
      overflow: hidden;
      position: relative;
      width: 144px;
    }

    .logo-upload {
      background: $white;
      cursor: inherit;
      display: block;
      filter: alpha(opacity = 0);
      font-size: 100px;
      min-height: 100%;
      min-width: 100%;
      opacity: 0;
      outline: none;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
    }

    fieldset {
      border: 0;
    }
  }

  .infor-organization {
    margin-left: 10px;
  }

  .send-button {
    background: $eucalyptus-color;
    background-image: linear-gradient(-180deg, $emerald-color 0%, $eucalyptus-color 90%);
    border: 0;
    border-radius: 5px;
    color: $white;
    font-weight: bold;
    padding: 8px;
  }
}

.note-invite {
  margin: 40px auto;
  position: relative;
  width: 500px;
}

.bt-cancel {
  border: 1px solid;
  border-radius: 5px;
  float: right;
  padding: 8px;
}
