@import 'color';

.user-modal {
  background-color: $black-40;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .modal-content {
    animation-duration: .4s;
    animation-name: animatetop;
    background-color: $session-white;
    border: 1px solid $color-celeste-approx;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 $black-20, 0 6px 20px 0 $black-19;
    margin: auto;
    margin-top: 44px;
    padding: 20px;
    position: relative;
    width: 340px;

    .modal-header {
      margin-bottom: 10px;
      padding: 10px;
    }
  }

  h2 {
    margin-top: 0;
  }

  p {
    margin-bottom: 5px;
  }
}

@keyframes animatetop {
  from {opacity: 0; top: -300px; }
  to {opacity: 1; top: 0; }
}

.close {
  color: $silver-chalice-color;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: $black;
  cursor: pointer;
  text-decoration: none;
}
