@import 'color';

.organizations {
  .nav {
    padding: 0 15px;
  }

  .tab-content {
    padding: 15px;
  }

  .tabs {
    margin-left: -15px;
    margin-right: -15px;
  }

  .tbl-object {
    display: table;
    padding: 15px 0;

    .avatar {
      border-radius: 3px;
      display: block;
      height: 100px;
      line-height: 1;
      overflow: hidden;
      vertical-align: middle;
      width: 100px;
    }

    .tbl-item {
      display: table-cell;
      vertical-align: middle;
    }

    .tbl-item-org-name {
      color: $color-mine-shaft-approx;
      font-weight: normal;
    }

    .btn-edit-organization {
      float: left;
      font-size: 1.5em;
    }

    .tbl-item-primary {
      padding-left: 20px;
      white-space: normal;
      width: 99%;
    }
  }

  .calendar {
    margin-bottom: 5px;

    .media-left-color-id {
      border-radius: 2px;
      display: block;
      height: 22px;
      width: 22px;
    }

    .media-body-calendar-name {
      display: block;
      height: 22px;
      line-height: 24px;
    }
  }

  .sub-calendar {
    margin-top: 5px;
  }

  .workspace {
    margin-top: 10px;

    .media-body-workspace-name {
      display: block;
      height: 44px;
      line-height: 46px;
    }
  }

  .hidden-box {
    display: block;
    width: 44px;
  }
}

.organization-form {
  .upload-image {
    height: 144px;
    margin-top: 10px;
    width: 144px;

    &:hover .btn-file {
      display: block;
    }

    .img-thumbnail {
      height: 144px;
      position: absolute;
      width: 144px;
    }

    .btn-file {
      background-color: $abbey-color;
      border: 0;
      border-radius: 4px;
      display: none;
      font-size: 45px;
      height: 144px;
      line-height: 137px;
      opacity: .8;
      overflow: hidden;
      position: relative;
      width: 144px;
    }

    .logo-upload {
      background: $white;
      cursor: inherit;
      display: block;
      filter: alpha(opacity = 0);
      font-size: 100px;
      min-height: 100%;
      min-width: 100%;
      opacity: 0;
      outline: none;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
    }

    fieldset {
      border: 0;
    }
  }

  .infor-organization {
    margin-left: 10px;
  }
}
