@import 'color';

.paginator {
  text-align: center;

  .pagination {
    border-left: 1px solid $white-gray;
    margin-top: -5px;

    a,
    .current,
    .gap {
      background-color: $white;
      border: 1px solid $white-gray;
      border-left-width: 0;
      float: left;
      line-height: 38px;
      padding: 0 14px;
      text-decoration: none;
    }

    .first,
    .prev,
    .page,
    .next,
    .last {
      border: 0;
      float: none;
      padding: 0;
    }
  }
}

.pagination-activities {
  margin-left: 450px;
  margin-top: 60px;
}
