@import 'color';

.organizations {
  .padding-none {
    padding: 0;
    position: relative;
    text-align: center;
  }

  .icon-email {
    i {
      font-size: 3em;
    }
  }

  .fix-height {
    height: 197px;
  }

  .result {
    background: $white;
    box-shadow: 1px 0 15px 0 $session-grey;
    position: relative;
    top: 0;
  }

  .list-user {
    max-height: 150px;
    overflow: auto;
    transition: height 2s;
  }

  .name-list {
    height: 40px;
    padding: 5px;

    a {
      color: $black;
    }
  }

  .name-list:hover {
    background: $chambray-color;

    a {
      color: $white;
      font-weight: bold;
    }
  }

  .img-user {
    margin-right: 10px;
    width: 25px;
  }

  .left-user {
    text-align: left;
  }
}
