@import 'color';

.organizations {
  .padding-none {
    padding: 0;
    position: relative;
    text-align: center;
  }

  .icon-email {
    i {
      font-size: 3em;
    }
  }

  .fix-height {
    height: 197px;
  }

  #result {
    box-shadow: 1px 0 15px 0 #888;
    background: $white;
    position: relative;
    top: 0;
  }

  .list-user {
    overflow: auto;
    max-height: 150px;
    transition: height 2s;

    ul li {
      height: 40px;
      padding: 5px;

      &:hover {
        background: #3b5998;

        a {
          color: $white;
          font-weight: bold;
        }
      }

      a {
        color: $black;
      }
    }
  }

  .img-user {
    width: 25px;
    margin-right: 10px;
  }

  .left-user {
    text-align: left;
  }
}
