@import 'color';

.update-profile {
  background: none repeat scroll 0% 0%;
  padding: 0 15px;

  .my-modal {
    .update-password {
      padding-right: 65px;
    }
  }

  .modal {
    background-color: $black-40;
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .modal-content {
    background-color: $session-white;
    border: 1px solid $session-grey;
    margin: 15% auto;
    padding: 20px;
    width: 60%;
  }
}
