@import 'color';

#calcontent {
  #nav {
    left: 0;
    margin-left: 0;
    position: absolute;
    top: 0;
    transition: all .218s;
    width: 175px;

    #sidebar {
      padding: 0;
      white-space: nowrap;
      width: 175px;

      .tbl-object {
        display: table;
        margin-bottom: 10px;
        padding: 0;

        .tbl-item {
          display: table-cell;
          vertical-align: middle;

          h1.org-name {
            color: $color-mine-shaft-approx;
            font-size: 15px;
            font-weight: normal;
            margin: 0;
          }

          .btn-edit-organization {
            float: left;
          }
        }

        .tbl-item.tbl-item-primary {
          padding-left: 5px;
          white-space: normal;
          width: 99%;
        }

        .tbl-item.avatar {
          border-radius: 3px;
          display: block;
          height: 44px;
          line-height: 1;
          overflow: hidden;
          vertical-align: middle;
          width: 44px;
        }
      }

      #source-popup {
        .btn-default {
          background-color: $aqua-haze-color;
          height: 29px;
          padding: 3px 6px;
          width: 175px;
        }

        li a {
          line-height: 12px;
          padding: 7px 5px;

          span {
            line-height: 1.9em;
            position: absolute;

            i {
              font-size: 1.2em;
            }
          }

          img {
            border: 1px solid $color-celeste-approx;
            border-radius: 2px;
            margin-left: 25px;
          }
        }
      }

      .btn-show-popup {
        display: block;
        position: relative;
        text-align: left;
        width: 100%;

        img {
          border: 1px solid $color-celeste-approx;
          border-radius: 2px;
          float: left;
        }
      }

      .truncate {
        font-weight: bold;
        margin-left: 3px;
        max-width: 125px;
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        top: 2px;
        white-space: nowrap;
      }

      .dropdown-menu {
        top: 35px;
      }

      .caret {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid;
        position: absolute;
        right: 5px;
        top: 8px;
      }
    }

    .h.zippy-arrow {
      background-position: -153px -81px;

      &.down {
        background-position: -141px -81px;
      }
    }
  }

  .btn-group {
    display: inline-block;
    position: relative;
    vertical-align: middle;

    .dropdown-toggle:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    .btn {
      float: left;
      outline: none;
      position: relative;

      &:first-child:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }

    #current-user-id-popup {
      display: none;
    }
  }

  #my-calendar {
    margin-top: 10px;
  }

  #other-calendar {
    margin-top: 10px;

    .send-request {
      margin-bottom: 5px;
      position: relative;

      #request-email-input {
        font-size: 12px;
        height: 25px;
        margin-bottom: 0;
        outline: none;
        width: 100%;
      }

      #request-email-button {
        background-image: url(image-path('icon_add.png'));
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        color: $dusty-gray-color;
        font-size: 14px;
        height: 23px;
        outline: none;
        transition: background-color .2s;
        width: 23px;
      }
    }

    #collapse2 {
      margin-top: 5px;
    }
  }

  .caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    display: inline-block;
    height: 5px;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
  }

  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .dropdown-menu {
    background-clip: padding-box;
    border: 1px solid $shark-color;
    border-radius: 3px;
    box-shadow: 0 6px 12px $black-17;
    display: none;
    font-size: 14px;
    left: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 300px;
    z-index: 1000;

    .top-prong {
      left: 7px;
      top: -9px;
      transform: rotateX(180deg);

      .prong-lt {
        border-color: $aqua-haze transparent;
      }
    }

    li .qab-container {
      padding: 0;

      .heading-label {
        background: $aqua-haze;
        border-bottom: 1px solid $athens-gray-color;
        font-size: .8em;
        font-weight: bold;
        line-height: 30px;
        padding-left: 10px;

        .close-popup-organization {
          float: right;
          font-size: 1.2em;
          line-height: 30px;
          padding-right: 10px;
        }
      }

      #list-organization {
        padding: 0;

        li {
          border-bottom: 1px solid $athens-gray-color;
          height: 35px;

          &:hover {
            background-color: $science-blue-color;

            a {
              color: $white;
            }
          }

          a {
            color: $color-mine-shaft-approx;
            display: block;
            font-size: .8em;
            text-decoration: none;

            span {
              padding-left: 5px;
            }
          }
        }
      }
    }
  }

  .open {
    .dropdown-menu {
      display: block;
    }
  }

  .qab-container {
    background: $white;
    border-color: $color-celeste-approx;
    padding: 0 10px;

    textarea {
      border: 1px solid;
      border-color: $silver $alto $alto;
      border-radius: 2px;
      height: 30px;
      margin-right: 10px;
      padding: 5px;
      width: 350px;
    }

    p {
      color: $session-grey;
      font-size: 11px;
      margin: 0;
      margin-top: 10px;
    }

    label {
      display: block;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
      margin-bottom: 10px;
    }

    #btn-quick-add {
      border: 1px solid $black-10;
      cursor: pointer;
      display: inline-block;
      height: 32px;
      margin-right: 0;
      outline: none;
      text-align: center;
      text-decoration: none;
      width: 54px;

      a {
        color: $white;
        padding: 5px 16px;
      }
    }
  }

  .qab-container * {
    vertical-align: middle;
  }

  .calHeader {
    background: $white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    position: relative;
    user-select: none;
    zoom: 1;

    .hover-my-calendar {
      line-height: 30px;

      &:hover {
        background-color: $mercury-color;
      }

      .clst-my-menu {
        &:hover {
          background-color: $mercury-color;
        }
      }
    }
  }

  .zippy-arrow {
    background-image: url(image-path('combined_v46_vr.png'));
    display: -moz-inline-box;
    display: inline-block;
    height: 11px;
    line-height: 0;
    vertical-align: middle;
    width: 11px;
  }

  .highlight {
    .ui-state-default {
      color: $red;
    }
  }

  #mini-calendar {
    display: block;

    td,
    th {
      font-size: 12px;
    }

    .ui-datepicker-inline {
      border: 0;
      display: block;
      width: 175px;
    }

    .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
      background: $white;
      border: 0;
    }

    .ui-widget-header .ui-state-hover {
      background: none;
      border: 0;
      cursor: pointer;
      font-weight: normal;
    }

    .ui-widget {
      font-size: 14px;
    }

    table.ui-datepicker-calendar {
      background-color: $white;

      th {
        font-size: 13px;
        font-weight: normal;
      }
    }

    .ui-datepicker {
      padding: 0;

      .ui-datepicker-title {
        display: inline-block;
        line-height: 1.2em;
        margin: 0;
        position: relative;

        select {
          -webkit-appearance: none;
          appearance: none;
          background: $alabaster-color;
          border: 1px solid $silver-color;
          border-radius: 2px;
          display: inline-block;
          font: inherit;
          line-height: 1.2;
          margin: 0;
          outline: none;
          padding: 4px 3px 3px 5px;

          &:first-child {
            margin-right: 1px;
          }
        }

        &::after {
          background: transparent;
          border-radius: 0 2px 2px 0;
          bottom: 0;
          color: $black;
          content: '▼';
          font-size: 60%;
          line-height: 25px;
          padding: 0 7px;
          pointer-events: none;
          position: absolute;
          right: 0;
          top: 0;
        }

        &::before {
          background: transparent;
          border-radius: 0 2px 2px 0;
          bottom: 0;
          color: $black;
          content: '▼';
          font-size: 60%;
          line-height: 25px;
          padding: 0 7px;
          pointer-events: none;
          position: absolute;
          right: 72px;
          top: 0;
        }

        .no-pointer-events .select-list::after {
          content: none;
        }
      }

      .ui-state-default {
        background: $white;
        border: 1px solid $white;
        font-size: 12px;
        font-weight: normal;
      }

      td {
        a {
          padding: 0;
          text-align: center;

          &:hover {
            background: $mercury-color;
          }
          ;
        }
      }

      .ui-datepicker-month {
        width: 70px;
      }

      .ui-datepicker-year {
        width: 70px;
      }

      .ui-state-active {
        background: $mercury-color;
      }

      .ui-state-highlight {
        background: $mercury-color;
        border: 1px solid $alto-color;
        font-weight: bold;
      }

      .ui-datepicker-header {
        margin-top: 0;
        padding-top: 0;
      }
    }

    a.ui-datepicker-prev.ui-corner-all {
      height: 15px;
      left: 150px;
      top: 8px;
      width: 15px;
    }

    a.ui-datepicker-next.ui-corner-all {
      height: 15px;
      right: -5px;
      top: 8px;
      width: 15px;
    }

    span.ui-icon.ui-icon-circle-triangle-w {
      background-position: 0;
      border-bottom: 6px solid transparent;
      border-right: 6px solid $mine-shaft-color;
      border-top: 6px solid transparent;
      height: 0;
      width: 0;
    }

    span.ui-icon.ui-icon-circle-triangle-e {
      background-position: 0;
      border-bottom: 6px solid transparent;
      border-left: 6px solid $mine-shaft-color;
      border-top: 6px solid transparent;
      height: 0;
      width: 0;
    }
  }

  #mini-calendar.out {
    display: none;
  }

  #title-mini-calendar {
    display: none;
  }

  #title-mini-calendar.in {
    display: block;
  }

  .clst-menu,
  .clst-menu-child {
    background: url(image-path('combined_v46_vr.png')) -217px 0;
    border: 1px solid $nobel-color;
    font-size: 1px;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    text-indent: -100px;
    top: 10px;
    width: 12px;
  }

  .clst-menu-child {
    cursor: pointer;
    display: none;
    height: 12px;
    padding-left: 2px;
    right: 5px;
    top: 7px;
    width: 12px;
  }

  .sub-menu {
    background: $white;
    border: 1px solid $black-20;
    box-shadow: 0 2px 4px $black-20;
    cursor: default;
    font-size: 13px;
    position: absolute;
    transition: opacity .218s;
    white-space: nowrap;
    width: 210px;
    z-index: 1000;

    div {
      cursor: pointer;
      text-decoration: none;

      &.link {
        padding: 6px 8em 6px 30px;

        &:hover {
          background-color: $mercury-color;
        }
      }

      &.calcolor-menuitem {
        border-top: 1px solid $gallery;
        padding-top: 17px;
      }

      &.f-menuitem {
        color: $color-mine-shaft-approx;
        cursor: pointer;
        list-style: none;
        margin: 0;
        padding: 17px 0 6px 30px;
        position: relative;
        white-space: nowrap;
      }

      .reset {
        clear: both;
        font-size: 1px;
        height: 1px;
        line-height: 1px;
        margin: 0;
      }

      .ccp-rb-color {
        height: 14px;
        margin: 0 4px 4px 0;
        width: 14px;

        &:hover {
          border: 1px solid $black;
        }
      }

      .hdn {
        height: 1px;
        overflow: hidden;
        position: absolute;
        top: -999px;
        width: 1px;
      }
    }
  }

  .menu-calendar {
    width: 250px;

    #id-of-calendar {
      display: none;
    }
  }

  .sub-menu-visible {
    display: block;
  }

  .sub-menu-hidden {
    display: none;
  }

  .collapse.in {
    display: block;
  }

  .collapse {
    display: none;
    max-height: 200px;
    overflow: hidden;

    &:hover {
      overflow: auto;
    }

    ol,
    ul {
      margin-bottom: 0;
      margin-top: 0;
      padding: 0 0 0 15px;
    }

    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }

    .list-group {
      padding-left: 0;

      .list-group-item {
        background-color: $white;
        border: 0;
        border-radius: 2px;
        display: block;
        font-size: 13px;
        overflow: hidden;
        padding: 5px 0 5px 5px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          background-color: $mercury-color;
          .clst-menu-child {
            display: block;
          }
        }

        input {
          height: 13px;
          margin: 0;
          overflow: hidden;
          padding: 0;
          position: relative;
          top: -2px;
          vertical-align: bottom;
          width: 13px;
        }
      }

      .sub-list {
        background-color: $white;
        display: block;
        font-size: 13px;
        margin: 0;
        overflow: hidden;
        padding: 5px 0 5px 5px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          background-color: $mercury-color;
          .clst-menu-child {
            display: block;
          }
        }

        input {
          height: 13px;
          margin: 0;
          overflow: hidden;
          padding: 0;
          position: relative;
          top: -1px;
          vertical-align: bottom;
          width: 13px;
        }
      }
    }
  }

  .background-hover {
    background-color: $mercury-color;
    .clst-menu-child {
      display: block;
    }
  }

  .sub-calendars li {
    font-size: 13px;
    margin: 5px;
  }

  .f-inline-block {
    display: inline-block;
  }

  .ccp-rb-color {
    cursor: pointer;
    padding: 0;
    vertical-align: top;

    &:hover {
      border: 1px solid $black;
    }

    .bcp-selected {
      background: url(image-path('combined_v46_vr.png')) -95px -50px;
      height: 10px;
      left: -1px;
      margin: 3px;
      overflow: hidden;
      position: relative;
      top: -1px;
      vertical-align: top;
      width: 10px;
    }
  }
  .div-box {
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    overflow: hidden;
    padding-left: 15px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;

    label {
      cursor: pointer;
      display: block;
      height: 13px;
      left: 0;
      margin-bottom: 0;
      padding-left: 0;
      position: absolute;
      top: 3px;
      transition: all .5s ease;
      width: 13px;
      z-index: 1;
    }

    .ccp-rb-color {
      height: 13px;
      margin: 0 4px 0 0;
      vertical-align: middle;
      width: 13px;

      &:hover {
        border: 1px solid $black;
      }
    }
  }
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  margin-left: -4px;
}
