<%= link_to "javascript:void(0)" do %>
  <div class="calendar">
    <div class="media-left">
      <span class="color-<%= calendar.color_id %> media-left-color-id"></span>
    </div>
    <div class="media-body">
      <span><%= calendar.name %></span>
    </div>
  </div>
<% end %>
