<div class="modal fade" id="invite-modal" tabindex="-1" role="dialog" aria-labelledby="invite-modalLabel">
  <div class="modal-dialog padding-none" role="document">
    <div class="modal-content fix-height">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="icon-email">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
        <h3 class="modal-title" id="invite-modalLabel">
          <%= t "organizations.show.invite_label" %> <%= @organization.name %>
        </h3>
      </div>
      <div class="modal-body">
        <div class="input-group col-md-12">
          <%= text_field_tag "search-user", nil, autofocus: true,
            class: "form-control search-user fa-user",
            placeholder: t(".placeholder.search_email_name") %>
          <span class="fa fa-user user-icon"></span>
        </div>
        <%= hidden_field_tag "organ_slug", @organization.slug %>
      <div id="result" class="result">
      </div>
      </div>
    </div>
  </div>
</div>
